In [87]:
##to print bold
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

loans_2007 = pd.read_csv('../datasets/loans_2007.csv')
loans_2007.head()

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [88]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
id                            42538 non-null object
member_id                     42535 non-null float64
loan_amnt                     42535 non-null float64
funded_amnt                   42535 non-null float64
funded_amnt_inv               42535 non-null float64
term                          42535 non-null object
int_rate                      42535 non-null object
installment                   42535 non-null float64
grade                         42535 non-null object
sub_grade                     42535 non-null object
emp_title                     39909 non-null object
emp_length                    41423 non-null object
home_ownership                42535 non-null object
annual_inc                    42531 non-null float64
verification_status           42535 non-null object
issue_d                       42535 non-null object
loan_status                   42535 non-null object
pymnt_plan                    42535 non-null object
purpose                       42535 non-null object
title                         42522 non-null object
zip_code                      42535 non-null object
addr_state                    42535 non-null object
dti                           42535 non-null float64
delinq_2yrs                   42506 non-null float64
earliest_cr_line              42506 non-null object
inq_last_6mths                42506 non-null float64
open_acc                      42506 non-null float64
pub_rec                       42506 non-null float64
revol_bal                     42535 non-null float64
revol_util                    42445 non-null object
total_acc                     42506 non-null float64
initial_list_status           42535 non-null object
out_prncp                     42535 non-null float64
out_prncp_inv                 42535 non-null float64
total_pymnt                   42535 non-null float64
total_pymnt_inv               42535 non-null float64
total_rec_prncp               42535 non-null float64
total_rec_int                 42535 non-null float64
total_rec_late_fee            42535 non-null float64
recoveries                    42535 non-null float64
collection_recovery_fee       42535 non-null float64
last_pymnt_d                  42452 non-null object
last_pymnt_amnt               42535 non-null float64
last_credit_pull_d            42531 non-null object
collections_12_mths_ex_med    42390 non-null float64
policy_code                   42535 non-null float64
application_type              42535 non-null object
acc_now_delinq                42506 non-null float64
chargeoff_within_12_mths      42390 non-null float64
delinq_amnt                   42506 non-null float64
pub_rec_bankruptcies          41170 non-null float64
tax_liens                     42430 non-null float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB

After analyzing each column, we can conclude that the following features need to be removed:

id: randomly generated field by Lending Club for unique identification purposes only
member_id: also a randomly generated field by Lending Club for unique identification purposes only
funded_amnt: leaks data from the future (after the loan is already started to be funded)
funded_amnt_inv: also leaks data from the future (after the loan is already started to be funded)
grade: contains redundant information as the interest rate column (int_rate)
sub_grade: also contains redundant information as the interest rate column (int_rate)
emp_title: requires other data and a lot of processing to potentially be useful
issue_d: leaks data from the future (after the loan is already completed funded)
zip_code: redundant with the addr_state column since only the first 3 digits of the 5 digit zip code are visible (which only can be used to identify the state the borrower lives in)
out_prncp: leaks data from the future, (after the loan already started to be paid off)
out_prncp_inv: also leaks data from the future, (after the loan already started to be paid off)
total_pymnt: also leaks data from the future, (after the loan already started to be paid off)
total_pymnt_inv: also leaks data from the future, (after the loan already started to be paid off)
total_rec_prncp: also leaks data from the future, (after the loan already started to be paid off)
total_rec_int: leaks data from the future, (after the loan already started to be paid off),
total_rec_late_fee: also leaks data from the future, (after the loan already started to be paid off),
recoveries: also leaks data from the future, (after the loan already started to be paid off),
collection_recovery_fee: also leaks data from the future, (after the loan already started to be paid off),
last_pymnt_d: also leaks data from the future, (after the loan already started to be paid off),
last_pymnt_amnt: also leaks data from the future, (after the loan already started to be paid off).

In [89]:
loans_2007=loans_2007.drop(columns={"id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d","zip_code", 
                                    "out_prncp","out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
                                    "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"
                                   })

In [90]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Fully Paid,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,...,f,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,Fully Paid,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Current,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [91]:
loans_2007["loan_status"].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

The potential target columns are int_rate or loan_status

Lets start with loan status

In [92]:
loan_stats = loans_2007["loan_status"].value_counts()

In [93]:
loan_stats.index

Index(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid', 'Current',
       'Does not meet the credit policy. Status:Charged Off',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Default'],
      dtype='object')

In [94]:
loans_2007 = loans_2007[(loans_2007['loan_status'] == "Fully Paid") | (loans_2007['loan_status'] == "Charged Off")]

status_replace = {
    "loan_status" : {
        "Fully Paid": 1,
        "Charged Off": 0,
    }
}

loans_2007 = loans_2007.replace(status_replace)

In [95]:
#drop if only 1 unique val
dropcols = []
for col_name in loans_2007.columns:
    non_null = loans_2007[col_name].dropna()
    unique_non_null = non_null.unique()
    num_true_unique = len(unique_non_null)
    if num_true_unique < 2:
        dropcols.append(col_name)
dropcols

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [96]:
for item in dropcols:
    print(item + ":")
    print(loans_2007[item].unique())

pymnt_plan:
['n']
initial_list_status:
['f']
collections_12_mths_ex_med:
[ 0. nan]
policy_code:
[1.]
application_type:
['INDIVIDUAL']
acc_now_delinq:
[0.]
chargeoff_within_12_mths:
[ 0. nan]
delinq_amnt:
[0.]
tax_liens:
[ 0. nan]

In [97]:
loans_2007 = loans_2007.drop(columns=dropcols)

In [98]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38770 entries, 0 to 39785
Data columns (total 23 columns):
loan_amnt               38770 non-null float64
term                    38770 non-null object
int_rate                38770 non-null object
installment             38770 non-null float64
emp_length              37734 non-null object
home_ownership          38770 non-null object
annual_inc              38770 non-null float64
verification_status     38770 non-null object
loan_status             38770 non-null int64
purpose                 38770 non-null object
title                   38759 non-null object
addr_state              38770 non-null object
dti                     38770 non-null float64
delinq_2yrs             38770 non-null float64
earliest_cr_line        38770 non-null object
inq_last_6mths          38770 non-null float64
open_acc                38770 non-null float64
pub_rec                 38770 non-null float64
revol_bal               38770 non-null float64
revol_util              38720 non-null object
total_acc               38770 non-null float64
last_credit_pull_d      38768 non-null object
pub_rec_bankruptcies    38073 non-null float64
dtypes: float64(11), int64(1), object(11)
memory usage: 7.1+ MB

In [99]:
loans_2007.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

In [100]:
loans_2007.dropna().corr().sort_values(by="loan_status",ascending=False)

,loan_amnt,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,pub_rec_bankruptcies
loan_status,-0.060257,-0.027097,0.039523,1.000000,-0.042620,-0.017885,-0.069192,0.005884,-0.050362,-0.006879,0.020355,-0.045941
annual_inc,0.270839,0.269834,1.000000,0.039523,-0.123778,0.021302,0.034791,0.156611,-0.014507,0.276850,0.236620,-0.012456
total_acc,0.256091,0.230302,0.236620,0.020355,0.228736,0.067102,0.115254,0.685397,-0.020163,0.312466,1.000000,-0.007097
open_acc,0.175279,0.170683,0.156611,0.005884,0.290380,0.011264,0.094147,1.000000,0.003038,0.286468,0.685397,0.008775
revol_bal,0.316187,0.312265,0.276850,-0.006879,0.228106,-0.056444,-0.024362,0.286468,-0.059328,1.000000,0.312466,-0.046742
delinq_2yrs,-0.034302,-0.022438,0.021302,-0.017885,-0.034939,1.000000,0.008479,0.011264,0.011005,-0.056444,0.067102,0.005960
installment,0.930756,1.000000,0.269834,-0.027097,0.050620,-0.022438,0.008852,0.170683,-0.042760,0.312265,0.230302,-0.029530
dti,0.061003,0.050620,-0.123778,-0.042620,1.000000,-0.034939,0.000796,0.290380,-0.005532,0.228106,0.228736,0.006064
pub_rec_bankruptcies,-0.031857,-0.029530,-0.012456,-0.045941,0.006064,0.005960,0.014636,0.008775,0.842260,-0.046742,-0.007097,1.000000
pub_rec,-0.047292,-0.042760,-0.014507,-0.050362,-0.005532,0.011005,0.023619,0.003038,1.000000,-0.059328,-0.020163,0.842260
loan_amnt,1.000000,0.930756,0.270839,-0.060257,0.061003,-0.034302,0.010848,0.175279,-0.047292,0.316187,0.256091,-0.031857
inq_last_6mths,0.010848,0.008852,0.034791,-0.069192,0.000796,0.008479,1.000000,0.094147,0.023619,-0.024362,0.115254,0.014636

In [101]:
loans = loans_2007
loans = loans.drop(columns=["pub_rec_bankruptcies"])

In [102]:
loans = loans.dropna(axis=0)

In [103]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38770 entries, 0 to 39785
Data columns (total 23 columns):
loan_amnt               38770 non-null float64
term                    38770 non-null object
int_rate                38770 non-null object
installment             38770 non-null float64
emp_length              37734 non-null object
home_ownership          38770 non-null object
annual_inc              38770 non-null float64
verification_status     38770 non-null object
loan_status             38770 non-null int64
purpose                 38770 non-null object
title                   38759 non-null object
addr_state              38770 non-null object
dti                     38770 non-null float64
delinq_2yrs             38770 non-null float64
earliest_cr_line        38770 non-null object
inq_last_6mths          38770 non-null float64
open_acc                38770 non-null float64
pub_rec                 38770 non-null float64
revol_bal               38770 non-null float64
revol_util              38720 non-null object
total_acc               38770 non-null float64
last_credit_pull_d      38768 non-null object
pub_rec_bankruptcies    38073 non-null float64
dtypes: float64(11), int64(1), object(11)
memory usage: 7.1+ MB

In [104]:
object_columns_df = loans.select_dtypes(include=['object'])
object_columns_df.head()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
5,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016